# Storage service and bucket settings
STORAGE_SERVICE_TOKEN=<replace-with-storage-service-token>
STORAGE_SERVICE_URL=http://storage-service:8090
IMAGE_FILE_BUCKET=medical-image-files
USER_AVATAR_BUCKET=medical-user-avatars
