AI_OBJECT_CONCURRENCY_LIMIT=50
BATCH_PRESIGN_CONCURRENCY_LIMIT=100
AI_WORKER_CONCURRENCY=2
THUMBNAIL_WORKER_CONCURRENCY=2
THUMBNAIL_MAX_RETRIES=5
THUMBNAIL_REQUEUE_INTERVAL_SECONDS=60
THUMBNAIL_PROCESSING_LEASE_SECONDS=300
BATCH_IMPORT_MAX_FILES=200
IMAGE_UPLOAD_COMPLETION_LEASE_SECONDS=60
